@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    word-break: break-word;
  }
  
  *[class*="hover:"] {
    transition: color .4s, background-color .4s, left .4s, opacity .4s, transform .4s;
  }
  
  .left-anim {
    transition: left .4s, opacity .4s;
  }

  *[class^="left"] {
    transition: color .2s;
  }

  *:disabled {
    opacity: .5;
    cursor: not-allowed;
    animation: none !important;
  }

  html {
    background-color: #020d17;
  }

  body {
    @apply text-white bg-dark-bg text-base font-normal min-h-[100vh] flex flex-col
    }
    
  body > main {
    @apply max-w-[1700px] mx-auto z-30
  }

  /* Custom Scroll bar */
  ::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #999999;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #303030ac;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

  /* Custom Scroll bar END */

  input, textarea {
    outline: 0 none;
    background: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 1s ease-in-out 0s, color 1s ease-in-out 0s;
    transition-delay: 5000s;
  }

  *::placeholder {
    opacity: .38;
    color: #fff;
  }

  img {
    object-fit: contain;
  }
}

@layer components {
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }

  .shake-button:hover, .shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  @keyframes opacity-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
}